<div *ngIf="campaign">
    <div class="left-panel">
        <div class="side-background"></div>

        <div 
            class="overview-tab"
            [ngClass]="{'selected-tab': selectedTab === 'overview'}"
            (click)="switchTab('overview')"
        > Overview </div>
        <div 
            class="review-tab"
            [ngClass]="{'selected-tab': selectedTab === 'review'}"
            (click)="switchTab('review')"
        > Content Review </div>
        <div 
            class="post-tab"
            [ngClass]="{'selected-tab': selectedTab === 'post'}"
            (click)="switchTab('post')"
        > Post </div>
    </div>
    <div class="right-panel">
        <div class="overview-container" *ngIf="selectedTab === 'overview'">
            <app-campaign-overview [influencer]="campaign"></app-campaign-overview>
            <div class="bottom-buttons"> 
                <button mat-flat-button color="primary" class="large-round-button" (click)="selectedTab = 'review'"> Next </button>
            </div>
        </div>

        <div class="review-container" *ngIf="selectedTab === 'review'">
            <div class="review-content">
                <div class="version-select">
                    <ng-select 
                        class="campaign-version-select" 
                        [clearable]="false" 
                        bindLabel="version_name"
                        bindValue="history_id"
                        [items]="campaignHistory"
                        [(ngModel)]="historyId"
                        (change)="selectVersion($event)"
                    >
                        <ng-template ng-option-tmp ng-label-tmp let-item="item">
                            Version {{ item.version_name }}
                        </ng-template>
                    </ng-select>
                    <span 
                        class="material-icons" 
                        *ngIf="campaign.short_share_url" 
                        (click)="copyUrl()"
                        [matTooltip]="'Copy review url to clipboard'"
                    > open_in_new </span>
                </div>
                <!-- <div class="simple-overview-container">
                    <app-simple-campaign-overview [campaign]="campaign"></app-simple-campaign-overview>
                </div>
     -->
                <!-- <div class="concpet-container">
                    <div class="section-title">Concept Proposal</div>
                    <mat-form-field class="full-text-area" floatLabel=never>
                        <textarea matInput [(ngModel)]="newContentConcept" placeholder="Enter Your Concept (Optional)"></textarea>
                    </mat-form-field>
                </div> -->

                <div class="add-new-image" *ngIf="!images || !images.images || images.images.length === 0" (click)="uploadImages()">
                    <span class="material-icons"> add_photo_alternate </span>
                    Add New Image
                </div>
                <div class="image-content" *ngIf="images && images.images && images.images.length > 0">
                    <ngu-carousel #carouselLarge
                        [inputs]="carouselTileLarge"
                        [dataSource]="images.images"
                        >
                        <ngu-tile class="large-image-container"  *nguCarouselDef="let image of images.images">
                            <img class="large-image" src="{{image.url}}">
                        </ngu-tile>
                        <button NguCarouselPrev class='leftRs' (click)="slideLargeImageLeft()">
                            <span class="material-icons"> chevron_left </span>
                        </button>
                        <button NguCarouselNext class='rightRs' (click)="slideLargeImageRight()">
                            <span class="material-icons"> chevron_right </span>
                        </button>
                    </ngu-carousel>
                    <div class="small-carousel">
                        <ngu-carousel #carouselSmall
                            [inputs]="carouselTileSmall"
                            [dataSource]="imageSlides"
                            >
                            <ngu-tile
                                *nguCarouselDef="let image of imageSlides; index as i" 
                                (click)="clickSmallImage(image)" 
                                [ngClass]="{'selected': selectedMedia.path === image.path}"
                            >
                                <div *ngIf="image.path === 'new'" (click)="uploadImages()" class="new-image-slide">
                                    <span class="material-icons"> add_photo_alternate </span>
                                </div>
                                <div *ngIf="image.path !== 'new'" class="image-slide">
                                    <img class="small-image" src="{{image.url}}">
                                    <div class="delete-icon" (click)="deleteImage(i)">
                                        <span class="material-icons"> delete </span>
                                    </div>
                                </div>
                            </ngu-tile>
                            <button NguCarouselPrev class='leftRsSm'>
                                <span class="material-icons"> chevron_left </span>
                            </button>
                            <button NguCarouselNext class='rightRsSm'>
                                <span class="material-icons"> chevron_right </span>
                            </button>
                        </ngu-carousel>
                    </div>
                </div>
    
                <div class="caption-container">
                    <!-- <div class="section-title">Title</div>
                    <mat-form-field class="full-text-area" floatLabel=never>
                        <input matInput [(ngModel)]="newTitle" placeholder="Enter Title Here">
                    </mat-form-field> -->
                    <div class="section-title">Description</div>
                    <textarea nz-input
                        [(ngModel)]="newDescription"
                        placeholder="Enter your content here."
                        [nzAutosize]="{ minRows: 6, maxRows: 8 }"
                    ></textarea>
                    <!-- <div class="section-title">Tags</div>
                    <div class="tag-display" *ngIf="campaign.tags">
                        <span class="display-tag" *ngFor="let tag of campaign.tags"> {{tag}} </span>
                    </div>
                    <div class="new-tag-input" *ngIf="isAddingNewTag">
                        <div class="input-box">
                            <mat-form-field class="full-text-area" floatLabel=never>
                                <input matInput [(ngModel)]="newTag" placeholder="Enter Tag Here">
                            </mat-form-field>
                        </div>
                        <span class="material-icons add-icon" (click)="addNewTag()"> check_circle_outline </span>
                        <span class="material-icons add-icon" (click)="cancelAddTag()"> remove_circle_outline </span>
                    </div>
                    <div class="new-tag-input" *ngIf="!isAddingNewTag">
                        <div class="add-new-tag" (click)="isAddingNewTag = true" > 
                            Add new tag 
                        </div>
                    </div> -->
                </div>
    
                <div class="review-bottom-buttons"> 
                    <button mat-flat-button color="primary" class="large-round-button" (click)="updateCampaignVersion()"> Save Content </button>
                </div>    
            </div>

            <div class="comment-panel">
                <app-media-thread 
                    [selectedMedia]="selectedMedia"
                    [mediaList]="images.images"
                    [allMedia]="allMedia"
                ></app-media-thread>
            </div>
        </div>

        <div class="post-container" *ngIf="selectedTab === 'post'">
            <div class="bottom-buttons"> 
                <button mat-flat-button color="primary" (click)="completeCampaign()">Complete Campaign</button>
            </div>
        </div>
        <!-- <mat-horizontal-stepper [linear]="false" #stepper>
            <mat-step>
                <ng-template matStepLabel>Overview</ng-template>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    <div>Concept Review</div>
                </ng-template>
                <div>
                    <mat-card class="basic-card">
                        <mat-card-header>
                            New Content Concept
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field class="full-text-area">
                                <textarea matInput [(ngModel)]="newContentConcept" placeholder=""></textarea>
                            </mat-form-field>
                            <button mat-stroked-button (click)="AddNewConcept()">Create New Concept</button>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="concept-content">
                    <div class="concept-version-container" *ngFor="let campaign of conceptCampaignList; index as i">
                        <div class="concept-version">
                            ----------------    v{{conceptCampaignList.length - i}}   ----------------
                        </div>
                        <div class="concept-box" [ngClass]="{'is-final': campaign.is_final}">
                            {{ campaign.content_concept }}
                        </div>
                        <div class="feedback-box" *ngIf="campaign.feed_back" [ngClass]="{'is-final': campaign.is_final}">
                            {{ campaign.feed_back }}
                        </div>
                        <button mat-button (click)="leaveFeedback(campaign)">Leave Feedback</button>
                        <button mat-button (click)="shareConcept(campaign)">Send</button>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    <div>Conetent Review</div>
                    <div class="time-info">Review Deadline {{ displayTime(campaign.end_time) }}</div>
                </ng-template>
                <div class="concept-content" *ngIf="campaignType === 'image'">
                    <button mat-raised-button color="primary" (click)="uploadImages()">Upload New Images</button>
                    <div class="concept-version-container" *ngFor="let campaign of videoCampaignList; index as i">
                        <div class="concept-version">
                            ----------------    v{{videoCampaignList.length - i}}   ----------------
                        </div>
                        <div class="concept-box" [ngClass]="{'is-final': campaign.is_final}">
                            <div>{{campaign.images.caption}}</div>
                            <div class="image-container" *ngFor="let image of campaign.images.images">
                                <div class="img-holder" >
                                    <img class="image" src="{{image.url}}">
                                </div>
                            </div>
                        </div>
                        <div class="feedback-box" *ngIf="campaign.feed_back" [ngClass]="{'is-final': campaign.is_final}">
                            {{ campaign.feed_back }}
                        </div>

                        <button mat-button (click)="reviewImages(campaign)">Leave Feedback</button>
                        <button mat-button (click)="shareImages(campaign)">Send</button>
                    </div>
                </div>
                <div class="concept-content" *ngIf="campaignType === 'video'">
                    <button mat-raised-button color="primary" (click)="uploadVideo()">Upload New Video</button>
                    <div class="concept-version-container" *ngFor="let campaign of videoCampaignList; index as i">
                        <div class="concept-version">
                            ----------------    v{{videoCampaignList.length - i}}   ----------------
                        </div>
                        <div class="concept-box" [ngClass]="{'is-final': campaign.is_final}">
                            <video controls preload="auto" #videoPlayer>
                                <source src="{{campaign.video}}" type="video/mp4" />
                                Browser not supported
                            </video>

                            <vg-player>
                                <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                                    <source src="{{campaign.video}}" type="video/mp4">
                                </video>
                            </vg-player>
                        </div>
                        <div class="feedback-box" *ngIf="campaign.feed_back" [ngClass]="{'is-final': campaign.is_final}">
                            {{ campaign.feed_back }}
                        </div>

                        <button mat-button (click)="reviewVideo(campaign)">Leave Feedback</button>
                        <button mat-button (click)="shareVideo(campaign)">Send</button>
                    </div>
                </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>
                <div>Post</div>
                <div class="time-info">Post Date {{ displayTime(campaign.extra_info['post_time']) }}</div>
              </ng-template>
            </mat-step>
          </mat-horizontal-stepper> -->
    </div>
</div>
