@import 'common';
@import 'global';

.campaign-title {
    margin:15px 20px;
    font-size: 18px;
}

.basic-card {
    margin: 20px;
    padding: 0px;

    .mat-card-header {
        padding: 15px;
        background-color: $COLOR_SECONDARY;
        ::ng-deep {
            .mat-card-header-text {
                margin: 0px;
            }
        }
    }
    .mat-card-content {
        padding: 10px;
    }
}

.left-panel {
    width: 220px;
    display: inline-block;
    vertical-align: top;
    color: white;
    height: 100%;
    position: fixed;

    .side-background {
        height: 100%;
        width: 170px;
        background-color: $COLOR_BG;
        position: absolute;
        z-index: -1;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
    }

    .overview-tab {
        margin-top: 200px;
        margin-left: 40px;
        cursor: pointer;
    }
    .review-tab {
        margin-top: 50px;
        margin-left: 40px;
        cursor: pointer;
    }
    .post-tab {
        margin-top: 50px;
        margin-left: 40px;
        cursor: pointer;
    }
    .selected-tab {
        background: #0071FF;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 150px;
        height: 40px;
        padding: 10px;
        line-height: 20px;
    }
}

.right-panel {
    width: calc(100% - 220px);
    display: inline-block;
    vertical-align: top;
    margin-left: 220px;
    .version-select {
        width: 100%;
        margin: 20px;
        display: flex;
        justify-content: flex-end;

        .campaign-version-select {
            width: 250px;
            display: inline-block;
        }

        .material-icons {
            cursor: pointer;
            margin: 5px 10px;
            vertical-align: top;
        }
    }

    .review-content {
        width:  calc(100% - 400px);
        display: inline-block;
        vertical-align: top;

        .review-bottom-buttons {
            margin: 20px;
            float: right;
        }
    }

    .add-new-image {
        width: 442px;
        height: 94px;
        background: #E5E5E5;
        border-radius: 12px;
        margin-left: 20px;
        line-height: 24px;
        text-align: center;
        padding-top: 30px;
        cursor: pointer;
    }

    .comment-panel {
        width: 400px;
        display: inline-block;
        vertical-align: top;
    }
    
    .bottom-buttons {
        margin-left: 40px;
    }

    .concpet-container {
        padding: 10px 20px;
    }

    .section-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .tag-display {
        .display-tag {
            background-color: $COLOR_BG;
            border-radius: 50px;
            display: inline-block;
            padding: 6px 20px;
            margin-right: 10px;
            margin-bottom: 10px;
            color: white;
        }
    }

    .new-tag-input {
        width: 300px;
        height: 50px;

        .input-box {
            display: inline-block;
        }
        .add-icon {
            cursor: pointer;
            vertical-align: middle;
            margin-left: 10px;
        }
        .add-new-tag {
            background: #F2F2F2;
            border-radius: 50px;
            display: inline-block;
            padding: 6px 20px;
            margin-top: 15px;
            cursor: pointer;
        }
    }

    .caption-container {
        padding: 10px 20px;
    }

    .post-container {
        padding: 40px 0px;
    }
}

.time-info {
    font-size: 10px;
}

.concept-content {
    width: 100%;
    display: inline-block;
    vertical-align: top;

    .concept-version {
        text-align: center;
        font-size: small;
        color: lightgrey;
    }
    
    .concept-box, .feedback-box {
        width: calc(100% - 60px);
        min-height: 35px;
        padding: 5px 5px 5px 10px;
        margin: 10px;
        border-radius: 3px;
        line-height: 30px;
        position: relative;
        color: white;
        background-color: $COLOR_SECONDARY;
        white-space: pre-line;
    }

    .concept-box {
        margin-left: 30px;
    }

    .feedback-box {
        margin-right: 30px;
    }

    .feedback-box:before{
        content: '';
        width: 0px;
        height: 0px;
        position: absolute;
        border: 6px solid;
        border-color: transparent $COLOR_SECONDARY transparent transparent;
        left: -12px;
        top: 10px;
    }

    .concept-box:after{
        content: '';
        width: 0px;
        height: 0px;
        position: absolute;
        border: 6px solid;
        border-color: transparent transparent transparent $COLOR_SECONDARY;
        right: -12px;
        top: 10px;
    }

    .is-final {
        background-color: green !important;
    }

    .concept-box:hover, .feedback-box:hover{
        opacity: .9;
    }
}

.full-text-area {
    width: 100%;
    textarea {
        resize: none;
        height: 100px;
    }
}
.version-list {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;

    .mat-list-item {
        cursor: pointer;
        border-bottom: 1px solid grey;
    }
    .mat-list-item:hover {
        background-color: lightcyan;
    }
}

.image-container {
    display: inline-block;
    vertical-align: top;
    .img-holder {
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .image {
            max-width: 100px;
            max-height: 100px;
        }
    }
}


.large-image-container {
    ::ng-deep .tile { 
        border-radius: 10px;
        height: 500px;
        display: flex;
    }
    .large-image {
        display: block;
        margin: auto;
        max-height: 500px;
        max-width: 100%;
    }
}

.small-carousel {
    ::ng-deep  .ngucarousel {
        padding-left: 50px;
        padding-right: 50px;
    }
    ::ng-deep .tile { 
        border-radius: 10px;
        width: 120px;
        height: 100px;
        position: relative;
        display: flex;
        border: 3px solid transparent;
        cursor: pointer;
    }
    ::ng-deep .selected {
        .tile {
            border: 3px solid #07C0F2;
        }
    }

    .new-image-slide {
        background-color: lightgrey;
        width: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        .material-icons {
            font-size: 40px;
        }
    }

    .image-slide {
        display: flex;
        margin: auto;
    }

    .delete-icon {
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 30px;
        background-color: lightgray;
        position: absolute;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
        .material-icons {
            font-size: 20px;
        }
    }
    .small-image {
        display: block;
        margin: auto;
        max-height: 94px;
        max-width: 114px;
    }
}