.edit-faqs {
    
    .list-show-title {
        padding: 10px 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
        color: #0D053C;
        position: relative;
        > i {
            font-size: 14px;
            font-weight: bold;
            margin-right: 10px;
        }
        .title {
            font-weight: 600;
            font-size: 16px;
        }
        .category_edits {
            position: absolute;
            right: 20px;
            font-weight: normal;
        }
        .category_edits {
            color: #414BB2;
            font-weight: 600;
            font-size: 14px;
            position: absolute;
            right: 20px;
        }
    }
    
    .list-show-content {
        background: #FFFFFF;
        padding: 30px;
        margin-bottom: 15px;
        .left {
            width: 5%;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            color: #0D053C;
            > i {
                font-size: 14px;
                font-weight: bold;
            }
        }
        .right {
            display: inline-block;
            position: relative;
            width: 100%;
            color: #0D053C;
            input, .input_box{
                width: 90%;
                font-size: 16px;
                margin-bottom: 10px;
                font-weight: bold;
            }
            textarea,  .textarea_box{
                width: 98%;
            }
            .category_edits {
                font-weight: 600;
                position: absolute;
                right: 20px;
                top: 0;
                color: #414BB2;
                padding: 4px 6px;
                border-radius: 4px;
                cursor: pointer;
            }
            .btn-all {
                margin: 20px 0;
                margin-bottom: 0;
                button {
                    font-weight: 400;
                    font-size: 12px;
                    width: 60px;
                    margin-right: 10px;
                }
            }
        }
    }
    .list-box {
        border: 1px solid #E0E0E0;
        border-radius: 5px;
    }
    .list-show {
        box-shadow: 0px 8px 24px rgba(13, 5, 60, 0.1);
    }
}
