<div class="operation-container">
  <div class="title">Commission Pending ({{commissionPendingInfluencer.length}})</div>
  <div class="batch-operations">
      <span><b>{{checkedInf}}</b> influencer selected</span>
      <div class="batch-buttons">
          <button nz-button nzType="primary" (click)="batchPayCommission()"><i nz-icon nzType="credit-card" nzTheme="fill"></i>Pay Commission</button>
      </div>
  </div>
  <div class="operation-table">
      <nz-table #commissionPendingTable [nzData]="commissionPendingInfluencer" [nzLoading]="loading">
          <thead>
              <tr>
                  <th nzWidth="60px" 
                      [(nzChecked)]="allChecked"
                      (nzCheckedChange)="checkAll($event)"></th>
                  <th nzWidth="80px"></th>
                  <th>Influencer</th>
                  <th>Campaign</th>
                  <th>Status</th>
                  <th>Operation</th>
              </tr>
          </thead>
          <tbody>
              <ng-container *ngFor="let data of commissionPendingTable.data">
                  <tr>
                      <td [(nzChecked)]="data.checked"></td>
                      <td>
                          <div class="image-holder" (click)="showFullModals(data)">
                              <img src="{{ data.profile.influencer.profile.picture }}" />
                          </div>
                      </td>
                      <td> 
                          <div class="user-profile">
                              <div class="user-name">@{{ data.profile.influencer.profile.username }}</div>
                              <div class="email"><i nz-icon nzType="mail" nzTheme="outline"></i>{{ data.email }}</div>
                              <div class="phone"><i nz-icon nzType="phone" nzTheme="outline"></i>{{ data.inf_phone }}</div>
                          </div>
                      </td>
                      <td> 
                          <div class="campaign">
                              <div class="link" (click)="showDetailModals(data)">{{ data.campaign.campaign_name }}</div>
                              <div class="time">{{ data.campaign.end_time }}</div>
                          </div>
                      </td>
                      <td>
                          <div class="status">
                              <div class="content">Commission Pending</div>
                              <div class="time">Posted At {{ data.submit_post_time * 1000 | date: 'MM/dd, HH:mm' }}</div>
                          </div>
                      </td>
                      <td>
                          <button nz-button nzType="link" (click)="viewPost(data)"><i nz-icon nzType="eye" nzTheme="fill"></i>View Post</button>
                          <button nz-button nzType="link" (click)="startPayInfluencer(data)"><i nz-icon nzType="credit-card" nzTheme="fill"></i>Pay Commission</button>
                      </td>
                  </tr>
                  <tr [nzExpand]="data.expanded">
                  </tr>
              </ng-container>
          </tbody>
      </nz-table>
  </div>
</div>
<app-influencer-profile-modal #influencerProfile></app-influencer-profile-modal>
<app-campaign-detail-modal #campaignDetail></app-campaign-detail-modal>
<nz-modal
  [(nzVisible)]="showPaymentModal"
  nzTitle="Pay Influencer"
  (nzOnCancel)="cancelPayInfluencer()"
  [nzFooter]="null"
>
  <div *ngIf="payingInfluencer">
      <p>
          Product receive time is <b>{{payingInfluencer.product_received_time * 1000 | date: 'MMMM d, HH:mm'}}</b>, 
          Content submit time is <b>{{payingInfluencer.content_submit_time * 1000 | date: 'MMMM d, HH:mm'}}</b>, 
          it takes <b>{{calculateContentUploadDiff}}</b> hours, compare to the <b>{{fastDeliverWindow}}</b> hours setting.
      </p>
      <p>Are you sure to credit $ {{ paymentAmount }} to the influencer?</p>
      <div class="input-item">
          <label nz-checkbox [(ngModel)]="overwritePayment">Overwrite the commission</label>
      </div>
      <div class="input-item" *ngIf="overwritePayment">
          <div>Commission:</div>
          <input nz-input [(ngModel)]="paymentAmount" />
      </div>
      <div class="modal-buttons">
          <button nz-button nzType="primary" (click)="payInfluencer(payingInfluencer)" [nzLoading]="isPaying">
              Pay Influencers
          </button>
      </div>
  </div>
</nz-modal>