<!-- <h1 *ngIf="auth.user| async as user">Hello {{ user.displayName }}!</h1> -->

<div>
    <div class="left">
        <div class="image-container">
            <img class="panel-image" src="assets/images/login.png">
        </div>
    </div>
    <div class="right">
        <div class="setLanguage">
            <img src="assets/images/language.png" class="imgLangs" alt="" width="22">
            <nz-select [(ngModel)]="defaultLangs" class="langStyle" nzBorderless=true (ngModelChange)="setLangs($event)">
                <nz-option nzValue="English" nzLabel="English"></nz-option>
                <nz-option nzValue="Chinese" nzLabel="简体中文"></nz-option>
            </nz-select>
        </div>
        <div class="login-box" *ngIf="completeLoading">
            <div class="title">{{ 'Sign In' | translate }}</div>
            <div class="input-box">
                <div>{{ 'Email/User Name' | translate }}</div>
                <mat-form-field floatLabel="never" class="large-input-box">
                    <input matInput placeholder="{{ 'Email/Username' | translate }}" [(ngModel)]="email" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="input-box">
                <div>{{ 'Password' | translate }}</div>
                <mat-form-field floatLabel="never" class="large-input-box">
                    <input matInput placeholder="{{ 'Enter Your Password' | translate }}" type="password" [(ngModel)]="password">
                </mat-form-field>
            </div>
            <br><br>
            <!-- <div>
                <div>Remember Me</div>
                <div>Forgot Password?</div>
            </div> -->
            <div class="button-row">
                <button mat-flat-button color="primary" class="large-round-button" (click)="loginWithPassword()">{{ 'Sign In' | translate }}</button>
                <!-- <button mat-button class="large-round-button-storked" (click)="signUp()">Sign Up</button> -->
                <!-- <button mat-button class="large-round-button-storked" (click)="change()">中文/English</button> -->
            </div>

            <!-- <mat-divider></mat-divider> -->

            <!-- <div class="social-login">
                <div 
                    class="google-login"
                    (click)="login()">
                    <img src="assets/images/google_login.png">
                </div>
            </div> -->
        </div>
    </div>
</div>


