@import 'common';

.menu-bar {
    height: 50px;
    background-color: $COLOR_PRIMARY;
    color:white;
    
    .menu-button {
        height: 50px;
        margin: 0px 10px;
    }

    .icon-button {
        float: right;
        margin: 5px;
    }

}