<div class="concept-content">
    <mat-card class="input-card" *ngIf="campaign">
        <mat-card-header>
            Uploaded Video
        </mat-card-header>
        <mat-card-content>
            <!-- <video controls preload="auto" #videoPlayer>
                <source src="{{campaign.video}}" type="video/mp4" />
                Browser not supported
            </video> -->
            <app-video-player #videoPlayeer [inputSources]="sources"></app-video-player>
        </mat-card-content>
    </mat-card>

    <div>
        <div class="left">
            <mat-card class="input-card">
                <mat-card-header>
                    Auto Detection
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="videoMeta">
                        <div *ngFor="let text of videoMeta.text_reg_res"> [{{text.seg_start_time}}] {{text.text}} </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="right">
            <mat-card class="input-card">
                <mat-card-header>
                    Feedback
                </mat-card-header>
                <mat-card-content>
                    <button (click)="getTimeStamp()">Insert time</button>
                    <mat-form-field class="full-text-area">
                        <textarea #feedbackTextArea matInput [(ngModel)]="newFeedback" placeholder=""></textarea>
                    </mat-form-field>
                    <button mat-button (click)="provideFeedback()">Leave Feedback</button>
                    <button mat-button (click)="approveVideo()">Approve Concept</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <mat-card class="input-card" *ngIf="campaign">
        <mat-card-header>
            Thread
        </mat-card-header>
        <mat-card-content>
            <app-media-thread></app-media-thread>
        </mat-card-content>
    </mat-card>

</div>