<div>
    <div class="image-container" *ngIf="!displayImage">
        <label class="upload-section">
            <span class="material-icons"> add_photo_alternate </span>
            <input class="file-input" type="file" id="inputFile" (change)="onDrop($event.target.files)" accept=".png,.jpg"> 
        </label>
    </div>
    
    <div class="image-container" *ngIf="displayImage">
        <span class="material-icons remove-icon" (click)="removeImage()"> cancel </span>
        <div class="image-holder">
            <img class="image" src="{{displayImage}}">
        </div>
    </div>

    <div *ngIf="!displayImage && (snapshot | async) as snap">
        {{ snap.bytesTransferred }} of {{ snap.totalBytes }} 
    </div>

</div>