@import 'common';

.notification-container {
    display: flex;
    position: absolute;
    z-index: 9999;
    width: 420px;
    max-width: calc(100% - 80px);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    background-color: white;

    &.info {
        border: 1px solid grey;

        .notification-type,
        .notification-title {
            color: grey;
        }
    }

    &.error {
        border: 1px solid red;

        .notification-type,
        .notification-title {
            color: red;
        }
    }

    &.success {
        border: 1px solid green;

        .notification-type,
        .notification-title {
            color: green;
        }
    }

    &.warning {
        border: 1px solid orange;

        .notification-type,
        .notification-title {
            color: orange;
        }
    }
}

.notification-type {
    display: inline-block;
    font-size: 30px;
    padding: 10px 10px 0 5px;
}

.notification-content {
    display: block;
    position: relative;
    width: 100%;
}

.notification-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.notification-title {
    font-size: 20px;
    margin-bottom: 10px;
}
