

.mat-radio-button {
    margin-right: 20px;
}

.field-title {
    margin-bottom: 10px;
}

.mat-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.full-text-area {
    width: 100%;
    textarea {
        resize: none;
    }
}

.image-container {
    display: inline-block;
    vertical-align: top;
    .img-holder {
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .image {
            max-width: 100px;
            max-height: 100px;
        }
    }
}
