<h2 mat-dialog-title>Upload Images</h2>

<mat-dialog-content class="mat-typography">
    <div *ngIf="videoType == 'local'">
        <app-uploader [uploadPath]="uploadPath"  (onUploadSuccess)="uploadSuccess($event)"></app-uploader>
    </div>

    <div *ngIf="videoType == 'youtube'">
        <div class="field-title">
            Please copy your video file path
        </div>
        <mat-form-field class="full-text-area">
            <textarea matInput [(ngModel)]="youtubeLink" placeholder=""></textarea>
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <div class="field-title">
        Your Images
    </div>
    <div class="image-container" *ngFor="let image of uploadImages">
        <div class="img-holder" >
            <img class="image" src="{{image.url}}">
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button  [disabled]="disableSave()" (click)="saveImages()">Create</button>
</mat-dialog-actions>