
// .dropzone { 
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column; 
//     min-width: 80vw;
//     font-weight: 200;
//     height: 300px;
//     border: 2px dashed #f16624;
//     border-radius: 5px;
//     background: black;
//     margin: 10px 0;
  
//     &.hovering {
//         border: 2px solid #f16624;
//         color: #dadada !important;
//     }
  
//     .file-label {
//         font-size: 1.2em;
//     }
//   }
  
//   progress::-webkit-progress-value {
//     transition: width 0.1s ease;
//   }
.fulltemplates>.ant-modal-content>.ant-modal-header>.ant-modal-title>.ng-star-inserted {
    font-size: 24px;
    font-weight: bold;
    color: #0D053C;
}
.create-container>.common-slider1>nz-slider, .create-container>.common-slider2>nz-slider {
    .ant-slider-handle {
        background-color: #414BB2;
        border: 2px solid #414BB2;
    }
    .ant-slider-handle.ant-tooltip-open {
        border-color: #414BB2;
    }
    .ant-slider-rail {
        background-color: #D3DCE6;
    }
    .ant-slider-track {
        background-color:#D3DCE6;
    }
}
.tab2 .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    background:  #414BB2;
    border-color:  #414BB2;
}
.selectorRadio .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    background: #414BB2;
    border-color: #414BB2;
}
.home-steps {
    .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
        font-size: 12px;
        color: #252733;
        font-weight: 500;
        width: 138px;
    }
    .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after, .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
        background-color: #414BB2;
    }
    .ant-steps-dot .ant-steps-item-content, .ant-steps-dot.ant-steps-small .ant-steps-item-content{
        width: 134px;
    }
}
.box-container {
    overflow: hidden;
    .regionalBox {
        width: 220px;
        height: 200px;
        float: left;
        .containers {
            width: 100%;
            height: 200px;
            box-sizing: border-box;
            padding: 0;
            list-style: none;
            overflow: auto;
            border-radius: 4px;
            margin-bottom: 0;
            padding-bottom: 0;
            li {
                height: 30px;
                line-height: 30px;
                padding-left: 10px;
                label {
                    font-weight: 400;
                    font-size: 12px;
                    color: #0D053C;
                    // display: block;
                }
            }
            
        }
        ul.isSelected {
            li:hover {
                background: #F3F4F9;
            }
            li.selected {
                background: #F3F4F9;
            }
        }
    }
}


.checkboxs {
    .left {
        >label {
            color: #0D053C;
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
        }
        nz-checkbox-group {
            >label {
                width: 130px;
                line-height: 30px;
                color: #0D053C;
            }
        }
    }
    .right {
        >label {
            color: #0D053C;
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
        }
        nz-checkbox-group {
            >label {
                width: 190px;
                line-height: 30px;
                color: #0D053C;
            }
        }
    }
    
}

nz-tag.editable-tag {
    background: #ECEDF7;
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 10px;
    border: 0;
    color: #000;
    font-size: 12px;
    >span {
        color: #999;
    }
}

.coll-Top .ant-form-item-label>label {
    font-size: 18px;
    margin-bottom: 6px;
    color: #0D053C;
}

.search-input .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border: 0;
}
.search-input .ant-input-focused, .shop-container .search-input .ant-input:focus, .shop-container .search-input .ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    outline: medium;
    box-shadow: none;
}

.shop-container {
    .table {
        tr > td:first-child {
            >button {
                margin-top: 17px;
            }
        }
    }
}

.filter-item-small {
    .ant-select-show-search.ant-select-multiple .ant-select-selector {
        height: 36px; 
    }
}

.table .ant-table-thead>tr>th {
    background: #fff;
}

.table .ant-table-thead>tr>th:first-child {
    width: 440px;
}

.content-tags {
    .header-tags {
        .ant-alert-success {
            background: rgba(39, 174, 96, 0.15);
            border-radius: 8px;
            border: 0;
            height: 45px;
            line-height: 32px;
            .ant-alert-icon {
                color: #219653;
                font-size: 16px;
                margin-top: 4px;
            }
            .ant-alert-message {
                color: #219653;
                font-weight: 400;
                margin-left: 10px;

            }
        }
    }
}

.stores {
    .header {
        nz-radio-group {
            label {
                span {
                    vertical-align: middle;
                    font-weight: bold;
                }
            }
        }
    }
}

.isShowSpecial {
    .ant-input-disabled, .ant-input[disabled], .ant-input-suffix, .ant-input-prefix, .ant-picker-input>input[disabled], .ant-picker-input>input, .ant-input-affix-wrapper>input.ant-input {
        color: #000;
        font-weight: 600;
    }
}
