<div class="changePass">
  <!-- <button nz-button nzType="primary" (click)="showModal()">
    <span class="material-icons">
      account_circle
    </span>
  </button>-->

  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    nzMaskClosable=false
    [nzFooter]=null
    nzWidth = '600'
    (nzOnCancel)="handleCancel()"
  >
    <ng-template #modalTitle>
      {{ 'Password' | translate }}
    </ng-template>

    <ng-template #modalContent>
      <div class="changePd" *ngIf="isShowInputPass">
        <div class="contentInput" style="margin-top: 40px;">
          <span>{{ 'Current Password' | translate }}</span>
          <input nz-input type="password" [(ngModel)]="oldPassword" />
        </div>
        <div class="contentInput">
          <span>{{ 'New Password' | translate }}</span>
          <input nz-input type="password" [(ngModel)]="newPassword" />
        </div>
        <div class="contentInput">
          <span>{{ 'Confirm New Password' | translate }}</span>
          <input nz-input type="password" [(ngModel)]="confirmPassword" />
        </div>
        <div class="footerBtn">
          <button nz-button class="saveBtn" nzType="primary" (click)="resetPassword()">{{ 'Save Changes' | translate }}</button>
          <button nz-button class="cancelBtn" nzType="default" (click)="handleCancel()">{{ 'Cancel' | translate }}</button>
        </div>
      </div>
      <div class="passUpdate" *ngIf="!isShowInputPass">
        <i class="icsons" nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
        <h3>{{ 'Password updated' | translate }}</h3>
        <p>{{ 'Awsome! You have changed your password successfully!' | translate }}</p>
        <div class="butn">
          <button nz-button nzType="primary" class="gener-btn" (click)="handleCancel()">{{ 'Got It' | translate }}</button>
        </div>
      </div>
    </ng-template>
  </nz-modal>
</div>


