.contentInput {
    margin-bottom: 30px;
    >span {
        width: 220px;
        display: inline-block;
        text-align: right;
        padding-right: 25px;
        font-weight: 600;
        color: #0D053C;
    }
    >input {
        display: inline-block;
        width: 280px;
    }
}
.footerBtn {
    margin-bottom: 40px;
    .saveBtn {
        margin-left: 220px;
        margin-right: 20px;
        width: 150px;
        font-weight: 400;
    }
    .cancelBtn {
        width: 100px;
        color: #414BB2;
        border-color: #414BB2;
    }
}
.passUpdate {
    text-align: center;
    .icsons {
        font-size: 40px;
        margin: 20px 0;
    }
    .butn {
        margin: 50px 0;
        >button {
            width: 150px;
            font-weight: 400;
        }
    }
}