
.container {
    text-align: center;

    .message {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #0D053C;
    }
}