@import 'global';
@import 'common';

.title {
    width: calc(100% - 60px);
    padding: 10px 0px;
    border-bottom: 1px solid lightgrey;
    margin: 20px 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    color: #0D053C;
}

.add-button-container {
    display: flex;
    justify-content: space-evenly;
    .add-button {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.button-row {
    text-align: center;
    margin-bottom: 10px;
    .add-comment-button {
        background: #F2F2F2;
        border-radius: 50px;
    }

    .new-comment-textarea {
        
    }
}

.thread-item {
    .thumbnail {
        width: 50px;
        display: inline-block;
        vertical-align: top;
        padding: 5px;
        .thumbnail-image {
            width: 40px;
            height: 40px;
        }
    }

    .main-content {
        width: 330px;
        padding: 5px;
        display: inline-block;
        vertical-align: top;

        .timestamp {
            color: #A0A4A8;
        }
        .content {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .action-container {
            color: #A0A4A8;
            display: flex;
            justify-content: space-between;
            line-height: 24px;

            .like {
                .material-icons {
                    vertical-align: top;
                }
                cursor: pointer;
            }
            .reply {
                cursor: pointer;
            }
        }
        .reply-item {
            margin: 10px 0px 10px 10px;
            padding-top: 10px;
            border-top: 1px solid lightgrey;
        }
    }
}