<div class="chart-title" *ngIf="showTitle">
    Campaign Performance
</div>
<div class="chart-subtitle" *ngIf="showTitle">
    as of {{currentDate}}
</div>
<div class="chart-container" *ngIf="chartData">
    <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
    >
    </canvas>
</div>
  