<h2 mat-dialog-title>Send Message to Share</h2>

<mat-dialog-content class="mat-typography">
    <div>
        <div class="field-title">
            Receiver
        </div>
        <mat-form-field class="full-text-area">
            <input matInput [(ngModel)]="receiver" placeholder="">
        </mat-form-field>    
    </div>

    <mat-radio-group class="option-group" [(ngModel)]="useDefaultMessage" aria-label="Select an option">
        <mat-radio-button [value]="false">Use personalized message</mat-radio-button>
        <mat-radio-button [value]="true">Use default message</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="!useDefaultMessage">
        <div class="field-title">
            Personalized Message
        </div>
        <mat-form-field class="full-text-area">
            <textarea matInput [(ngModel)]="message" placeholder=""></textarea>
        </mat-form-field>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="sendMessage()">Send</button>
</mat-dialog-actions>