$COLOR_PRIMARY: #0D053C;
$COLOR_SECONDARY: #99bce2;

$COLOR_BG: #0D053C;
$COLOR_THEME_1: #07C0F2;
$COLOR_THEME_2: #1AA2EB;
$COLOR_THEME_3: #207BE3;
$COLOR_WARM_1: #F89E2B;
$COLOR_WARM_2: #DE1FD6;
$COLOR_WARM_3: #7B26DA;
$COLOR_GREY: #9FA2B4;