<div class="concept-content">
    <mat-card class="input-card" *ngIf="campaign">
        <mat-card-header>
            Concept Content
        </mat-card-header>
        <mat-card-content>
            {{ campaign.content_concept }}
        </mat-card-content>
    </mat-card>

    <mat-card class="input-card">
        <mat-card-header>
            Feedback
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-text-area">
                <textarea matInput [(ngModel)]="newFeedback" placeholder=""></textarea>
            </mat-form-field>
            <button mat-button (click)="provideFeedback()">Leave Feedback</button>
            <button mat-button (click)="approveConcept()">Approve Concept</button>
        </mat-card-content>
    </mat-card>
</div>