<div class="header-background">

</div>
<div class="container">
    <div class="header">
        My Lifoboard
    </div>

    <div class="welcome-message" *ngIf="auth.user | async as user;">
        <div>Hello {{ user.displayName }}!</div>
    </div>

    <div>
        <div class="filter-section">
            <div class="filter-status">
                
            </div>
            <div class="filter-search">
                <!-- <mat-form-field floatLabel="never" class="large-input-box">
                    <input matInput placeholder="Email/Username">
                </mat-form-field> -->
            </div>
        </div>
        <button class="large-round-button create-button" mat-flat-button color="secondary" (click)="createCampaign()">Create Campaign</button>

    </div>
    
    <mat-divider></mat-divider>
    
    <div *ngIf="!isBrandView">
        <div class="home-subtitle white-header">
            Ongoing Promotion Campaign:
        </div>

        <div class="campaign-item" *ngFor="let element of promotionCampaigns">
            <app-campaign-card 
                [campaign]="element"
                [promotionCampaign]="true"
                (onDeleteCampaign)="deleteCampaign($event)"
                (onSignupCampaign)="signupCampaign($event)"
            ></app-campaign-card>
        </div>

        <div class="home-subtitle">
            Active Campaign:
           
        </div>

        <div class="campaign-item" *ngFor="let element of campaigns">
          <app-campaign-card 
              [campaign]="element.campaign_data"
              (onDeleteCampaign)="deleteCampaign($event)"></app-campaign-card>
        </div>

        <div class="home-subtitle">
            Completed Campaign:
        </div>

        <div class="campaign-item" *ngFor="let element of completeCampaigns">
          <app-campaign-card 
              [campaign]="element.campaign_data"
              (onDeleteCampaign)="deleteCampaign($event)"></app-campaign-card>
        </div>
    </div>

    <div *ngIf="isBrandView">
        <div class="home-subtitle" >
            Brand Campaign:
            <button class="create-button" mat-flat-button color="primary" (click)="createCampaign()">Create Campaign</button>
        </div>
    
        <div class="campaign-item" *ngFor="let element of brandCampaigns">
            <app-campaign-card 
                [campaign]="element"
                (onDeleteCampaign)="deleteCampaign($event)"></app-campaign-card>
        </div>
    </div>
</div>


