@import 'common';
@import 'global';

.header-background {
    height: 260px;
    background-color: $COLOR_BG;
    position: absolute;
    z-index: -1;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
}

.container {
    width: calc(100% - 70px);
    padding: 20px;


    .create-button {
        float: right;
        background-color: #0071FF;
    }

    .header {
        margin: 20px;
        font-size: x-large;
        font-weight: 800;
        display: inline-block;
        color: white;
    }
    .white-header {
        color: white;
    }

    .welcome-message {
        font-size: medium;
        margin: 10px 20px;
        float: right;
        color: white;
    }

    .filter-section {
        width: 666px;
        height: 48px;

        background: #212250;
        border-radius: 16px;
        display: inline-block;
    }

    .home-subtitle {
        font-size: medium;
        margin: 10px 20px;
        height: 36px;
        line-height: 36px;
        margin-bottom: 15px;
        font-weight: 800;
    }

    .mat-divider {
        margin: 20px;
        width: calc(100% - 80px);
    }

    .campaign-item {
        margin-bottom: 15px;
    }

    .active-campaign {
        margin: 20px;
        width: calc(100% - 80px);
        table{
            width: 100%;
        }
        th.mat-column-link, td.mat-column-link {
            width: 60px;
            span {
                cursor: pointer;
            }
        }

        td.mat-column-end_time, td.mat-column-post_time {
            line-height: 24px;
            span {
                vertical-align: top;
            }
        }
    }
}
