

.mat-radio-button {
    margin-right: 20px;
}

.field-title {
    margin-bottom: 10px;
}

.mat-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.full-text-area {
    width: 100%;
    textarea {
        resize: none;
    }
}