
.chart-container {
    .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
        color: #0D053C;
        margin-bottom: 15px;
    }
}